header {
  	background-position:  center center;
  	background-repeat: no-repeat;
  	background-image: url("../images/banner.jpg");
  	height: 500px;
}

h1 {
	font-family: "Lato", sans-serif;
}
h2 {
	font-family: "Lato", sans-serif;
}
h3 {
	font-family: "Lato", sans-serif;
}
h4 {
	font-family: "Lato", sans-serif;
}
h5 {
	font-family: "Lato", sans-serif;
}
h6 {
	font-family: "Lato", sans-serif;
}
.w3-bar {
	font-family: "Montserrat", sans-serif;
}
